:root{
    --TG-Color: #f14;
    --HG-Color: #f36;
    --FG-Color: #f9b;
    --MG-Color: #fbc;
    --BG-Color: #fdd;
    --LG-Color: #fef;
}
.main-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 6fr 3fr;
    grid-template-areas:
    "header"
    "about"
    "services"
    "email"
    ;
    width: 100%;
    height: 250%;
    background-color: var(--BG-Color);
    gap: 1%;
}
.header{
    grid-area: "header";
    background-color: var(--MG-Color);
    border-radius: 30px;
    margin: 1%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "title burger";
}
h1,h2,p,strong{
    text-align: center;
    color: var(--TG-Color);
}
p{
    text-align: center;
    color: var(--HG-Color);
}
.about{
    grid-area: "about";
    background-color: var(--MG-Color);
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2%;
}
.boxCat{
    height: 33%;
    width: 75%;
    border-radius: 30px;
}
.button{
    height: 9%;
    width: 33%;
    border-radius: 30px;
    background-color: var(--FG-Color);
}
#button2{
    height: 100%;
    width: 15%;
}
.serviceList{
    display: flex;
    flex-wrap: wrap;
    row-gap: 5%;
    gap: 1%;
}
.services{
    grid-area: "services";
    margin: 2%;
}
.serviceBox{
    height: 100%;
    width: 24%;
    border-radius: 30px;
    background-color: var(--MG-Color);
}
.email-list{
    grid-area: "email";
    border-radius: 30px;
    background-color: var(--MG-Color);
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
.email-list-options{
    display: flex;
    justify-content: center;
    gap: 5%;
}
.email-field{
    width: 50%;
    background-color: var(--BG-Color);
    border-color: var(--HG-Color);
    text-align: center;
    font-size: 200%;
    color: var(--TG-Color);
    border-radius: 15px;
}
.burgerButton{
    height: 50%;
    width: 75%;
    background-color: var(--FG-Color);
    border-radius: 30px;
    margin: 10%;
}
#title{
    grid-area: "title";
}
#menu{
    grid-area: "burger";
}
.burgerMenu{
    position: absolute;
    top: 10%;
    width: 15%;
    background-color: var(--FG-Color);
    border-radius: 15px;
    height: 10%;
}
.burgerGoAway{
    display: none;
}
li{
    color: var(--LG-Color);
}